*.md text eol=crlf
*.c text eol=crlf
*.h text eol=crlf
*.asm text eol=crlf
*.inc text eol=crlf
*.ASM text eol=crlf
*.INC text eol=crlf
*.ps1 text eol=crlf
*.PS1 text eol=crlf
*.rpl binary
*.RPL binary
*.res binary
*.RES binary
*.3sh binary
*.3SH binary
*.vsh binary
*.VSH binary
*.pvs binary
*.PVS binary
