src/restunts/asmorig/build/*obj
src/restunts/asmorig/build/*OBJ
src/restunts/asmorig/TASMBOX.OUT
src/restunts/*/tasm.dosbox.conf
src/restunts/c/build/dosheadless/*obj
src/restunts/c/build/dosfull/*obj
src/restunts/c/build/dos/*obj
src/restunts/build/openwatcom/
src/restunts/dos/*EXE
src/restunts/dos/*MAP
src/restunts/dos/*exe
src/restunts/dos/*map
src/restunts/dos/build/original/*obj
src/restunts/platform/dos/build/*obj
src/restunts/repldump/*EXE
src/restunts/repldump/*MAP
src/restunts/repldump/*exe
src/restunts/repldump/*map
src/restunts/repldump/build/original/*obj
src/restunts/repldump/build/headless/*obj
**/stderr.txt
**/stdout.txt
stunts/*.EXE
stunts/*.exe
stunts/*.3SH
stunts/*.BIN
stunts/*.BNI
stunts/*.HIG
stunts/*.P3S
stunts/*.3SH
stunts/*.PVS
stunts/*.RES
stunts/*.RPL
stunts/*.TRK
stunts/*.TXT
stunts/*.VSH
stunts/*.3sh
stunts/*.bni
stunts/*.hig
stunts/*.res
stunts/*.rpl
stunts/*.trk
stunts/*.txt
stunts/*.vsh
stunts/*.sh
stunts/.partitions_all.txt.*
tools/scripts/capture/*
